<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>
    
    <body>
        <div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>

            <form th:action="@{/produto/(form)}" th:object="${produto}" method="POST">
                
                <input type="hidden" th:field="*{id}">

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtdescricao">Descrição:</label>
                            <input type="text" th:field="*{descricao}" id="txtdescricao" class="form-control"> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtpreco">Preço:</label>
                            <input type="text" th:field="*{preco}" id="txtpreco"  class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="txtdata">Data Registro:</label>
                            <input type="text" th:field="*{dataRegistro}" id="txtdata" class="form-control">
                        </div>
                    </div>
                </div>
                
                <button type="submit">Enviar</button>

            </form>

        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html> 