<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>
    
    <body>
        <div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>

            <a th:href="@{/produto/novo}" class="btn btn-primary">  Novo  </a>
            
            <table class="table">
                    <thead>
                            <tr>
                                <th>Descrição</th>
                                <th>Preço</th>
                                <th>Data</th>
                                <th>Categoria</th>
                            </tr>
                    </thead>
                <tbody>
                   <tr th:each="umproduto : ${listaProdutos}">
                       <td th:text="${umproduto.descricao}"></td>
                       <td th:text="${umproduto.preco}"></td>
                       <td th:text="${umproduto.dataRegistro}"></tdth:text></td>
                       <td th:text="${umproduto.categoria}"></tdth:text></td>
                       <td><a th:href="@{'/produto/alterar/'+${umproduto.id}}" class="btn btn-primary">Alterar</a></td>
                   </tr>
                   
                </tbody>    
            </table>

        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html> 