<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    
    <head th:include="layout :: htmlhead"></head>
    
    <body>
        <div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>
        
            <h1 th:text="${nomeapp}">Minha aplicação!!</h1>
            <h3 th:text="${tempo}"></h3>

            <button class="btn btn-primary">Meu botão bonito</button>

        </div>
        <div th:include="layout :: footer" id="footer">(footer)</div>
    </body>
</html> 
